<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Threshold>90</Threshold>
          <ThresholdType>line</ThresholdType>
          <ExcludeByAttribute>
            Obsolete
            GeneratedCodeAttribute
            CompilerGeneratedAttribute
          </ExcludeByAttribute>
          <ExcludeByFile>
            **/*AssemblyInfo.cs
            **/*GlobalUsings.g.cs
            **/bin/**
            **/obj/**
            **/Migrations/**
            **/*.Designer.cs
            **/src/Gateway/Models/Swagger/**/*.cs
            **/src/Gateway/Examples/**/*.cs
            **/src/Gateway/Extensions/**/*.cs
            **/src/Gateway/Configuration/SwaggerConfiguration.cs
            **/src/Gateway/Configuration/OpenApiVersionDocumentFilter.cs
          </ExcludeByFile>
          <ExcludeByAssembly>
            Gateway.Tests.*
            Gateway.UnitTests
            Gateway.IntegrationTests
            Gateway.Load
          </ExcludeByAssembly>
          <Exclude>
            [Gateway]*.Program.&lt;Main&gt;$*
            [Gateway]*CustomHostTransformer*Console.WriteLine*
            [Gateway]Gateway.Models.Swagger.*
            [Gateway]Gateway.Examples.*
            [Gateway]Gateway.Extensions.*
            [Gateway]Gateway.Configuration.SwaggerConfiguration
            [Gateway]Gateway.Configuration.OpenApiVersionDocumentFilter
          </Exclude>
          <Include>
            [Gateway]*
            [Gateway.Services]*
          </Include>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <SingleHit>false</SingleHit>
          <UseSourceLink>true</UseSourceLink>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>